@model IEnumerable<Fiap.Domain.Entities.Receita>
@{
    ViewBag.Title = "MasterChef";
}
<h2>Receita</h2>

<p>
    @Html.ActionLink("Adicionar", "Novo")
</p>
<table class="table" id="tblReceitas">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.TempoPreparo)</th>
            <th>@Html.DisplayNameFor(model => model.QuantidadePessoas)</th>
            <th>@Html.DisplayNameFor(model => model.Tags)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.TempoPreparo)</td>
            <td>@Html.DisplayFor(modelItem => item.QuantidadePessoas)</td>
            <td>@Html.DisplayFor(modelItem => item.Tags)</td>
            <td>@Html.ActionLink("Editar", "Editar", new { id = item.Id })</td>
            <td>@Html.ActionLink("Deletar", "Deletar", new { id = item.Id })</td>
        </tr>
        }
    </tbody>
</table>